<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/doadores.css">
    <title>Banco de Coleta e Doação de Sangue</title>
</head>
<body>

<h2>Doadores</h2>

<div class="container">

    <a href="/" class="btnVoltar">
        <button id="btnVoltar" type="button">Voltar
    </a> </button>

    <button id="btnCadastrar" type="button">Cadastrar Doador</button>

    <form id="form" action="#" method="post" style="display: none;">
        <h2 id="form-title">Adicionar Doador</h2>

        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required/>
        </div>

        <div>
            <label for="idade">Idade:</label>
            <input type="text" id="idade" name="idade" required/>
        </div>

        <div>
            <label for="tipoSanguineo">Tipo Sanguíneo:</label>
            <input type="text" id="tipoSanguineo" name="tipoSanguineo" required/>
        </div>

        <div>
            <label for="ultimaDoacao">Data da Última Doação:</label>
            <input type="date" id="ultimaDoacao" name="ultimaDoacao" required/>
        </div>

        <div>
            <button type="submit">Cadastrar</button>

            <button id="btnCancelar" type="button">Cancelar</button>
        </div>
    </form>

    <div class="tabela-doadores">
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Tipo Sanguíneo</th>
                <th>Motivo da Doação</th>
            </tr>
            </thead>
            <tbody class="tabela-doadores-body">
            <!-- lista -->
            </tbody>

            <button id="btnEditar" type="button">Editar</button>
            <button id="btnDeletar" type="button">Deletar</button>
        </table>
    </div>

</div>
</body>
    <script src="../static/js/doadores.js"></script>

</html>
