<!DOCTYPE html> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Coleta e Doação de Sangue</title>
</head>
<body>

<div class="row">
        <h2>Escolha uma das opções a seguir</h2>
        <div class="btnIndex">
            <button> 
                <a href="/doadores" class="btnDoador">Doadores</a>
            </button>

            <button> 
                <a href="/recebedores" class="btnRecebedor">Recebedores</a>
            </button>

            <button> 
                <a href="/doacoes" class="btnDoacao">Doações de Sangue</a>
            </button>
        </div>
    </div>
</div>

</body>
</html>
